<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head.ejs') %>
</head>

<nav>
  <%- include('./partials/nav.ejs') %>
</nav>

<body class="backgroundImg">

		<h1>Spirit Taekwondo Tracker</h1>

</div>
</body>
</html>
