body, html {
    height: 100%;
  }
  nav {
    background-color: rgba(0, 0, 0, 0.3);
  }

  a:link, a:visited {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: red;
  }

.backgroundImg {
    z-index: -100;
    object-fit: contain;
    height: 100%;
    width: 100%;
    background-image: url(NewIgniteSchoolWallpaper-1.jpeg);
    background-position: center center;
    background-size: cover;
}
.backgroundOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: -99;
}
h1 {
    color: white;
}
li {
    color: black;
    list-style: none;
    background-color: rgb(255, 255, 255, 0.6);
    max-width: 400px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.classContainerRight {
    text-align: right;
}
.editIcon {
    max-height: 45px;
    max-width: 45px;
}
.deleteIcon {
    max-height: 35px;
    max-width: 35px;
}
.form-control {
    z-index: 999
}